@model MonthlySchedulation

<h6>Giorni:</h6>
<div class="row row-cols-auto mb-3">
    @if (Model.One)
    {
        <div class="col"><i class="bi bi-calendar-date">  1</i></div>
    }
    @if (Model.Two)
    {
        <div class="col"><i class="bi bi-calendar-date">  2</i></div>
    }
    @if (Model.Three)
    {
        <div class="col"><i class="bi bi-calendar-date">  3</i></div>
    }
    @if (Model.Four)
    {
        <div class="col"><i class="bi bi-calendar-date">  4</i></div>
    }
    @if (Model.Five)
    {
        <div class="col"><i class="bi bi-calendar-date">  5</i></div>
    }
    @if (Model.Six)
    {
        <div class="col"><i class="bi bi-calendar-date">  6</i></div>
    }
    @if (Model.Seven)
    {
        <div class="col"><i class="bi bi-calendar-date">  7</i></div>
    }
    @if (Model.Eight)
    {
        <div class="col"><i class="bi bi-calendar-date">  8</i></div>
    }
    @if (Model.Nine)
    {
        <div class="col"><i class="bi bi-calendar-date">  9</i></div>
    }
    @if (Model.Ten)
    {
        <div class="col"><i class="bi bi-calendar-date">  10</i></div>
    }
    @if (Model.Eleven)
    {
        <div class="col"><i class="bi bi-calendar-date">  11</i></div>
    }
    @if (Model.Twelve)
    {
        <div class="col"><i class="bi bi-calendar-date">  12</i></div>
    }
    @if (Model.Thirteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  13</i></div>
    }
    @if (Model.Fourteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  14</i></div>
    }
    @if (Model.Fifteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  15</i></div>
    }
    @if (Model.Sixteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  16</i></div>
    }
    @if (Model.Seventeen)
    {
        <div class="col"><i class="bi bi-calendar-date">  17</i></div>
    }
    @if (Model.Eighteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  18</i></div>
    }
    @if (Model.Nineteen)
    {
        <div class="col"><i class="bi bi-calendar-date">  19</i></div>
    }
    @if (Model.Twenty)
    {
        <div class="col"><i class="bi bi-calendar-date">  20</i></div>
    }
    @if (Model.Twentyone)
    {
        <div class="col"><i class="bi bi-calendar-date">  21</i></div>
    }
    @if (Model.Twentytwo)
    {
        <div class="col"><i class="bi bi-calendar-date">  22</i></div>
    }
    @if (Model.Twentythree)
    {
        <div class="col"><i class="bi bi-calendar-date">  23</i></div>
    }
    @if (Model.Twentyfour)
    {
        <div class="col"><i class="bi bi-calendar-date">  24</i></div>
    }
    @if (Model.Twentyfive)
    {
        <div class="col"><i class="bi bi-calendar-date">  25</i></div>
    }
    @if (Model.Twentysix)
    {
        <div class="col"><i class="bi bi-calendar-date">  26</i></div>
    }
    @if (Model.Twentyseven)
    {
        <div class="col"><i class="bi bi-calendar-date">  27</i></div>
    }
    @if (Model.Twentyeight)
    {
        <div class="col"><i class="bi bi-calendar-date">  28</i></div>
    }
    @if (Model.Twentynine)
    {
        <div class="col"><i class="bi bi-calendar-date">  29</i></div>
    }
    @if (Model.Thirty)
    {
        <div class="col"><i class="bi bi-calendar-date">  30</i></div>
    }
    @if (Model.Thirtyone)
    {
        <div class="col"><i class="bi bi-calendar-date">  31</i></div>
    }
</div>
<h6>Mesi:</h6>
<div class="row row-cols-auto">
    @if (Model.January)
    {
        <div class="col"><i class="bi bi-calendar-month">  Gennaio</i></div>
    }
    @if (Model.February)
    {
        <div class="col"><i class="bi bi-calendar-month">  Febbraio</i></div>
    }
    @if (Model.March)
    {
        <div class="col"><i class="bi bi-calendar-month">  Marzo</i></div>
    }
    @if (Model.April)
    {
        <div class="col"><i class="bi bi-calendar-month">  Aprile</i></div>
    }
    @if (Model.May)
    {
        <div class="col"><i class="bi bi-calendar-month">  Maggio</i></div>
    }
    @if (Model.June)
    {
        <div class="col"><i class="bi bi-calendar-month">  Giugno</i></div>
    }
    @if (Model.July)
    {
        <div class="col"><i class="bi bi-calendar-month">  Luglio</i></div>
    }
    @if (Model.August)
    {
        <div class="col"><i class="bi bi-calendar-month">  Agosto</i></div>
    }
    @if (Model.September)
    {
        <div class="col"><i class="bi bi-calendar-month">  Settembre</i></div>
    }
    @if (Model.October)
    {
        <div class="col"><i class="bi bi-calendar-month">  Ottobre</i></div>
    }
    @if (Model.November)
    {
        <div class="col"><i class="bi bi-calendar-month">  Novembre</i></div>
    }
    @if (Model.December)
    {
        <div class="col"><i class="bi bi-calendar-month">  Dicembre</i></div>
    }
</div>