@model Dictionary<DateOnly,ICollection<Schedulation>>
@{
    ViewData["Title"] = "Schedulazioni";
}

<div class="d-flex">
    <h1>Prossimi invii</h1>
    <form class="ms-auto align-self-center" asp-action="SearchByDate" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows">
        <div class="input-group">
            @*<label for="dateSearch" class="control-label">Ricerca</label>*@
            <span class="input-group-text" id="basic-addon1">Ricerca:</span>
            <input id="dateSearch" name="dateSearch" class="form-control" type="date"/>
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
            <a class="btn btn-outline-secondary" asp-action="ClearDateSearch" onclick="document.getElementById('dateSearch').value = ''" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows"><i class="bi bi-x-circle"></i></a>
        </div>
    </form>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Pianificazione</th>
        </tr>
    </thead>
    <tbody id="dashboardRows">
        <partial name="/Views/Shared/Dashboard/_DashboardRows.cshtml" model="@Model"></partial>
    </tbody>
</table>
