@using FileToEmailLinker.Models.ViewModels;
@using FileToEmailLinker.Models.ViewModels.Dashboard;
@model DashboardViewModel

@{
    ViewData["Title"] = "Schedulazioni";
}
<ul class="nav nav-tabs" style="background-color: #e3f2fd;" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active position-relative" id="pianificazioniTab" data-bs-toggle="tab" aria-current="page" data-bs-target="#pianificazioniSection" type="button" role="tab" aria-controls="pianificazioniSection" aria-selected="true">Invii</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link position-relative" id="segnalazioniTab" data-bs-toggle="tab" data-bs-target="#allSegnalazioniTables" type="button" role="tab" aria-controls="allSegnalazioniTables" arial-selected="false">
            <span>
                Segnalazioni
                @if (Model.UnvisualizedAlertList.Alerts.Results.Count() > 0)
                {
                    <span id="basicBadge" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"><span style="display:none">Segnalazioni</span></span>
                }
            </span>
        </button>
    </li>
</ul>
<div class="tab-content">
    <div id="pianificazioniSection" class="tab-pane active mt-2" role="tabpanel" arial-labelledby="pinaificazioniTab" tabindex="0">
        <div class="d-flex">
            <h3>Prossimi invii</h3>
            <form class="ms-auto align-self-center" asp-action="SearchByDate" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Ricerca:</span>
                    <input id="dateSearch" name="dateSearch" class="form-control" type="date"/>
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                    <a class="btn btn-outline-secondary" asp-action="ClearDateSearch" onclick="document.getElementById('dateSearch').value = ''" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows"><i class="bi bi-x-circle"></i></a>
                </div>
            </form>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Pianificazione</th>
                </tr>
            </thead>
            <tbody id="dashboardRows">
                <partial name="/Views/Shared/Dashboard/_DashboardRows.cshtml" model="@Model.SchedulationGroupList"></partial>
            </tbody>
        </table>
    </div>

    <div id="allSegnalazioniTables" class="tab-pane mt-2" role="tabpanel" aria-labelledby="segnalazioniTab" tabindex="0">
        <partial name="Dashboard/_AllSegnalazioniTables" model="@Model"></partial>
    </div>
</div>

<script src="/js/Dashboard/BadgeUpdate.js"></script>
