<div class="card">
    <div class="card-body">
        <h5 class="card-title">Sovrascrittura file</h5>
        <p class="card-text mb-2">
            Esiste già un file con questo nome. Si intende sovrascriverlo?
        </p>
        <a class="btn btn-outline-secondary" asp-action="CancelOverwrite">Annulla <i class="bi bi-x-circle"></i></a>
        <a class="btn btn-danger ms-2" asp-action="ConfirmOverWrite">Conferma <i class="bi bi-floppy"></i></a>
    </div>
</div>
