@model Receiver

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h1>Cancellazione</h1>

    <h4>Confermare la cancellazione del seguente destinatario?</h4>
    <partial name="Receivers/_ReceiverContent" model="@Model"></partial>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" />
        <a class="btn btn-outline-secondary ms-1" asp-action="Details" asp-route-id="@Model.Id">Annulla</a>
    </form>
</div>
