@model Receiver

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Dettagli</h1>

    <h4>Destinatario</h4>
    <partial name="Receivers/_ReceiverContent" model="@Model"></partial>
    <partial name="ButtonGroup/EditBackToListButtonGroup" model="@Model"></partial>
</div>
