@model IEnumerable<Receiver>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex">
    <h1>Anagrafica</h1>
    <span class="align-self-center ms-auto">
        <a asp-action="Create" class="btn btn-outline-primary">Aggiungi <i class="bi bi-plus-circle"></i></a>
    </span>
</div>

@foreach(var item in Model)
{
    var formId = "form_" + item.Id;
    <form asp-action="EditInline" id="@formId"></form>
}
@*<form asp-action="EditInline" id="formId" >*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Cognome
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var receiverVcId = "receiver_" + item.Id;
                <tr id="@receiverVcId">
                    <partial name="/Views/Shared/Output/_ReceiverInlineOutput.cshtml" model="@item"></partial>
                </tr>
            }
        </tbody>
    </table>
@*</form>*@

<script src="/js/Receiver/InlineEdit.js"></script>
