@using FileToEmailLinker.Models.InputModels.Schedulations;
@model MonthlyScheduleInputModel

<div class="row">
    <div class="col form-check">
        <input class="form-check-input" type="checkbox" id="MonthlySchedulation.One" name="MonthlySchedulation.One" value="true" />
        <label class="form-check-label" for="MonthlySchedulation.One">1</label>
    </div>
</div>
