@using FileToEmailLinker.Models.InputModels.Schedulations;
@model WeeklyScheduleInputModel

<div class="row">
    <div class="col-7">
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Monday" name="WeeklySchedulation.Monday" value="true" />
            <label for="WeeklySchedulation.Monday" class="control-label">Monday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Tuesday" name="WeeklySchedulation.Tuesday" value="true" />
            <label for="WeeklySchedulation.Tuesday" class="control-label">Tuesday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Wednesday" name="WeeklySchedulation.Wednesday" value="true" />
            <label for="WeeklySchedulation.Wednesday" class="control-label">Wednesday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Thursday" name="WeeklySchedulation.Thursday" value="true" />
            <label for="WeeklySchedulation.Thursday" class="control-label">Thursday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Friday" name="WeeklySchedulation.Friday" value="true" />
            <label for="WeeklySchedulation.Friday" class="control-label">Friday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Saturday" name="WeeklySchedulation.Saturday" value="true" />
            <label for="WeeklySchedulation.Saturday" class="control-label">Saturday</label>
        </div>
        <div class="col">
            <input type="checkbox" id="WeeklySchedulation.Sunday" name="WeeklySchedulation.Sunday" value="true" />
            <label for="WeeklySchedulation.Sunday" class="control-label">Sunday</label>
        </div>
    </div>
</div>