@using FileToEmailLinker.Models.ViewModels.Dashboard;
@model AlertsListViewModel;

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Messaggio</th>
            <th scope="col">Data</th>
            <th scope="col">Livello</th>
        </tr>
    </thead>
    <tbody id="visualizedAlertRows">
        <partial name="Dashboard/_VisualizedSegnalazioniRows" model="@Model.Alerts.Results"></partial>
    </tbody>
</table>
<vc:pagination-bar model="@Model"></vc:pagination-bar>