@model ICollection<Alert>

@foreach (var segnalazione in Model)
{
    <tr>
        <td>@segnalazione.Message</td>
        <td>@segnalazione.DateTime</td>
        <td>@segnalazione.AlertSeverity</td>
    </tr>
}