@using FileToEmailLinker.Models.ViewModels;
@model IPaginationInfo

<div class="align-self-center">
    <form id="searchForm" method="get">
        <div class="input-group">
            <span class="input-group-text">Ricerca:</span>
            <input id="search" name="search" class="form-control" type="text" value="@Model.Search" />
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
            <a class="btn btn-outline-secondary" asp-action="Index" asp-route-limit="@Model.ResultsPerPage" onclick="document.getElementById('search').value = ''"><i class="bi bi-x-circle"></i></a>
        </div>
    </form>
</div>
<div class="align-self-center ms-2">
    <a asp-action="Create" class="btn btn-outline-primary">Aggiungi <i class="bi bi-plus-circle"></i></a>
</div>