@model FileToEmailLinker.Models.InputModels.MailPlans.MailPlanInputModel

@{
    ViewData["Title"] = "Create";
    var today = DateOnly.FromDateTime(DateTime.Now.Date);
}

<div class="container">
<h1>Nuova Programmazione</h1>
<hr />
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <partial name="/Views/Shared/Input/_InformazioniGeneraliInput.cshtml" model="@Model"></partial>

        <partial name="/Views/Shared/Input/_SelezioneAllegati.cshtml" model="@Model.FileSelectList"></partial>

        <partial name="/Views/Shared/Input/_SelezioneDestinatari.cshtml" model="@Model.ReceiverSelectList"></partial>

        <div>
            <hr />
            <h6>Selezionare il tipo di schedulazione:</h6>
            <div class="mb-3">
                <a class="btn btn-outline-primary" asp-action="AddWeeklyScheduleInputModel" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Settimanale<i class="bi bi-calendar-day ms-2"></i></a>
                <a class="btn btn-outline-primary" asp-action="AddMonthlyScheduleInputModel" aps-route-schedType="monthly" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Mensile<i class="bi bi-calendar-week ms-2"></i></a>
            </div>
            <div id="schedulationSelection">
                <!--Partial View area-->
                @*<partial name="/Views/Schedulations/_WeeklySchedulation.cshtml" model="@Model.WeeklySchedulation"></partial>*@
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salva <i class="bi bi-floppy"></i></button>
                <a class="btn btn-outline-secondary ms-2" role="button" asp-action="Index" >Annulla</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
