@model FileToEmailLinker.Models.Entities.MailingPlan

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Cancellazione</h1>

    <h4>Confermare la cancellazione della seguente programmazione?</h4>
    <hr />
    <partial name="Output/_InformazioniGeneraliOutput" model="@Model"></partial>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary ms-2">Annulla</a>
    </form>
</div>
