@model FileToEmailLinker.Models.Entities.MailingPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MailingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveState" class="control-label"></label>
                <select asp-for="ActiveState" class="form-control"></select>
                <span asp-validation-for="ActiveState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedulationId" class="control-label"></label>
                <select asp-for="SchedulationId" class="form-control" asp-items="ViewBag.SchedulationId"></select>
                <span asp-validation-for="SchedulationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
